{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content%}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Bath Student Homes</h1>
          <p class="lead">Find information about us and how we can assist you here!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Search For Your Perfect Student Home</h2>
          <p class="lead">Here at Bath Student Homes, we follow a set process to ensure you receive the best chances of attaining your perfect student home!</p>
          <img src="{% static 'img/about.jpg'%}" alt="">
          <p class="mt-4">The combination of our adept local knowledge and knowledge of educational instituions and establishments has enabled us to perform an effective service for any student currently looking for accommodation within the Bath and North East Somerset Area, the process allows us to gather information about the students situation and preferences, such as their chosen educational establishment and living preferences (i.e parking required), before liasing with one of our well established contacts to arrange a viewing for the student and land them their ultimate property!</p>
        </div>
        <div class="col-md-4">
          {% if mvp_advisors %}
            {% for advisor in mvp_advisors %}
              <div class="card">
                  <img class="card-img-top" src="{{ advisor.photo.url }}" alt="Seller of the month">
                  <div class="card-body">
                    <h5 class="card-title">Advisor Of The Month</h5>
                    <h6 class="text-secondary">{{ advisor.name }}</h6>
                    <p class="card-text">{{ advisor.description }}
                    </p>
                  </div>
                </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Finding an ideal student home can be a complex and challenging task, our expert advisors are at hand to assist you and ensure you find your perfect student home!</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if advisors %}
          {% for advisor in advisors %}
            <div class="col-md-4">
                <img src="{{ advisor.photo.url }}" alt="" class="rounded-circle mb-3">
                <h4>{{ advisor.name }}</h4>
                <p class="text-success">
                  <i class="fas fa-award text-success mb-3"></i> Advisor </p>
                <hr>
                <p>
                  <i class="fas fa-phone"></i> {{ advisor.phone }}</p>
                <p>
                  <i class="fas fa-envelope-open"></i> {{ advisor.email }}</p>
              </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p> No Advisors Available </p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
